<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
       <form class="login100-form validate-form">
        <span class="login100-form-title">
          <b>CAREER DEVELOPMENT</b></br>
          <b>SYSTEM</b>

          <p class="alert"><%= alert %></p>

          <div class="wrap-input100 validate-input" >
              <span class="focus-input100"></span>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Username", class:"input100", type:"text" %>
          </div>

       
          <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <span class="focus-input100"></span>
            <%= f.password_field :password, autocomplete: "password", placeholder: "Password", class:"input100", type:"password"%>
          </div>

          <div class="rememberme">
            <% if devise_mapping.rememberable? %>		
              <div class="field">		
                <%= f.check_box :remember_me %>		
                <%= f.label :remember_me, value: "Keep me signed in" %>		
              </div>		
            <% end %>	
          </div>


          <div class="container-login100-form-btn">
            <%= f.submit "Log in", class:"login100-form-btn" %>
          </div>

          <div class="fogotpass">
            <%= link_to 'Forgot password?', new_user_password_path %>
          </div>
          </form>
        </div>
      </div>
<% end %>





	
